<template lang='pug'>
  .card(style='width: 400px')
    .card-body
      .card-title
        h2 Login
        .card-text
          form.form-group
            label(for='username') Username
            input.form-control(type='text', id='name', v-model='user')
          form.form-group
            label(for='password') Password
            input.form-control(type='password', id='password', v-model='password')
          form.form-group
            input.form-control(type='submit', @click.prevent='submitLogin')
</template>

<script>
export default {
  data: function () {
    return {
      user: '',
      password: ''
    }
  },
  methods: {
    submitLogin: function () {
      alert('Checking credentials')
    }
  }
}
</script>

<style scoped lang='scss'>
  h2 {
    border-bottom: 1px solid #d8d8d8;
    padding: 20px 0;
  }

  form {
    text-align: left;

    &>div {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &:first-child {
        margin-top: 50px;
    }
    input[type='submit'] {
      margin-top: 40px;
      background-color: #ccc;
      cursor: pointer;
      transition: 0.2s ease-out;

      &:hover {
        transition: 0.5s ease-out;
        background-color: #f8f8f8;
      }
    }
  }
</style>
